body{
    margin: 0;
}
.map-grid > *{
    flex-grow: 1;
    min-width: 300px;
    max-width: 100%;
    border: 1px solid #000;
    position: relative;
}
.map{
    height: 100%;
}
.wgt-row{
    display: flex;
    justify-content: space-between;
}

button.wgt-button{
    border: none;
    background: darkmagenta;
    padding: 10px 15px;
    color: white;
    cursor: pointer;
    border-radius: 2px;
}
button.wgt-button:hover{
    background: darkmagenta;
}